.aside {
  width: 357px;
  height: 100vh;
  background-color: #1e1f21;
  position: relative;
}

.user_section {
  text-align: center;
  background: rgba(19, 20, 21, 0.5);
  padding: 1rem;
  border-bottom: 1px solid black;
}

.folder_list {
  max-height: 490px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrollbar when needed */
  /* Add other styling as needed */
}

.folder_list h5 {
  opacity: 60%;
  margin-bottom: 30px;
  margin-inline: 35px;
}
.folder_list ul {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0;
  list-style: none;
}

.folder_list ul div {
  cursor: pointer;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
}
.folder_list ul div:hover {
  background: rgba(19, 20, 21);
  cursor: pointer;
}

.folder_list ul div svg {
  margin-right: 8px;
}
.folder_list ul div.active {
  background-color: #fe6c0b;
}

/* FOLDER CTA */
.new_folder_btn {
  width: 100%;
  bottom: 0;
  position: absolute;
  border-top: 1px solid black;
}
.new_folder_btn button {
  cursor: pointer;
  height: 80px;
  border: none;
  background: rgba(19, 20, 21, 0.7);
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_folder_btn button span {
  color: #f4faff;
}
.new_folder_btn button img {
  margin-right: 5px;
}
